<div class="col-md-4">
	<div class="content text-center">
		<h2>Welcome!</h2>
		<br>
		<a class="btn btn-lg btn-success" href="/submit-job"><span class="glyphicon glyphicon-plus"></span> Submit Job</a>
		<br>
		<br>
		<a class="btn btn-primary btn-lg" href="/submit-resume"><span class="glyphicon glyphicon-user"></span> Submit Resume</a>
	</div>
	<div class="content text-center">
		<h2 class="text-center">Search</h2>
		<br>
		<form accept-charset="UTF-8" action="/job_search" method="get"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
			<input autofocus="autofocus" class="form-control input-lg" id="q" name="q" placeholder="iOS Developer" type="text" value="" />
			<br>
			<div class="text-center">
				<button class="btn btn-lg btn-primary" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		</form>

	</div>
</div>