// AJAX for when someone tries to create a new job.

<% if @vals[:success] %>
  window.location.replace("<%= escape_javascript(@vals[:url].to_s) %>");
<% else %>
  <% if @vals[:job].errors[:title].count > 0 %>
    // make sure it wasn't already done
    if (!($('#job-title-group > span.glyphicon.glyphicon-remove.form-control-feedback').length)) {
      $('#job-title-group').append("<span class='glyphicon glyphicon-remove form-control-feedback'></span>");
      $('#job-title-group').addClass('has-error');
      $('#job-title-group').addClass('has-feedback');
    }
  <% else %>
    // remove it if we don't need it
    $('#job-title-group > span.glyphicon.glyphicon-remove.form-control-feedback').remove();
    $('#job-title-group').attr('class', 'form-group');
  <% end %>

  <% if @vals[:job].errors[:description].count > 0 %>
    // make sure it wasn't already done
    if (!($('#job-description-group > span.glyphicon.glyphicon-remove.form-control-feedback').length)) {
      $('#job-description-group').append("<span class='glyphicon glyphicon-remove form-control-feedback'></span>");
      $('#job-description-group').addClass('has-error');
      $('#job-description-group').addClass('has-feedback');
    }
  <% else %>
    // remove it if we don't need it
    $('#job-description-group > span.glyphicon.glyphicon-remove.form-control-feedback').remove();
    $('#job-description-group').attr('class', 'form-group');
  <% end %>
<% end %>
